body {
    font-family: Verdana;
    color: white;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

footer {
    font-size: 21px;
    color: gray;
    text-align: right;
    position: relative;
    bottom: -50px;
    right: 50px;
    padding-bottom: 15px;
}

div {
    margin-bottom: 50px;
}

a {
    color: aquamarine;
    text-decoration: underline;
    font-size: 16px;
}